<!DOCTYPE html>
<html class="no-js" lang="es-CO" xmlns="http://www.w3.org/1999/xhtml">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" /><head>
    <title>Merch</title>

    <meta charset="utf-8">
    <meta name="keywords" content="keywords">
    <meta name="description" content="En CEVICHE STUDIOS, no solo creamos contenido multimedia de primera clase, sino que también constuimos marcas sólidas, ofrecemos soluciones administrativas eficientes y brindamos asesoramiento legal intregral. Nuestra misión es convertir tus ideas en realidad y llevar tu proyecto al siguiente nivel.&nbsp;">
    <meta name="robots" content="follow, all">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://images.jumpseller.com/">
    <link rel="preconnect" href="https://cdnx.jumpseller.com/">
    <link rel="preconnect" href="https://assets.jumpseller.com/">
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link rel="preconnect" href="https://res.cloudinary.com/" crossorigin />

    <link rel="canonical" href="merch-2.html">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glyphicons-halflings@1.9.0/css/glyphicons-halflings.min.css" integrity="sha384-YMf8pdYhof4wBKT12hEMK5ZiLI0uDuH/b15aBiSRUqnBNsHzbNd/7sf4FMLtbEzx" crossorigin="anonymous" type='text/css'>
    <link href="https://assets.jumpseller.com/public/pe-icon-7-stroke/0.1.0/pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
    <link href="https://assets.jumpseller.com/public/themes/influence/minimal-menu.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" rel="stylesheet" type="text/css" integrity="sha384-pz96pZhW0KWsMuxX5tKI3gHxRbbZqsPdIYnpGh2nJilpLAiod86G+aPbo8csYGrR" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.css" rel="stylesheet" type="text/css" integrity="sha384-jzo53fYV4X3lMKTUNH+Kofs4qJ8+mMZDgkivWBWhKKuYUEmHd4XFrhGquThtnxKy" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" rel="stylesheet" type="text/css" integrity="sha384-xyZLiqnBEFn1hDkS8VeG/YHoqOjS/ucimT8TI6GDr9+ZP1UNbZr6d/q0ldMi/xvL" crossorigin="anonymous">
    <link href="https://assets.jumpseller.com/public/themes/influence/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="https://assets.jumpseller.com/public/themes/influence/owl.theme.default.min.css" rel="stylesheet" type="text/css">
    <link href="https://assets.jumpseller.com/public/responsive-accordion/1.3.0/responsive-accordion.min.css" rel="stylesheet" type="text/css">
    <link href="https://assets.jumpseller.com/public/easy-responsive-tabs/0.1.0/easy-responsive-tabs.min.css" rel="stylesheet" type="text/css">
    <link href="https://assets.jumpseller.com/public/themes/influence/bootstrap_3.min.css" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" >
    <link href="https://assets.jumpseller.com/store/cevichestudios/themes/638214/color_pickers.min.css?1758591088" rel="stylesheet" type="text/css">
    <link href="https://assets.jumpseller.com/store/cevichestudios/themes/638214/app.min.css?1758591088" rel="stylesheet" type="text/css">

    <link rel="apple-touch-icon" type="image/x-icon" href="https://res.cloudinary.com/dzif7dwts/image/upload/c_scale,w_57/v1781801126/LOGO_20NARANJA_20LETRA_20BLANCA_t7g7da.png" sizes="57x57">
    <link rel="apple-touch-icon" type="image/x-icon" href="https://res.cloudinary.com/dzif7dwts/image/upload/c_scale,w_60/v1781801126/LOGO_20NARANJA_20LETRA_20BLANCA_t7g7da.png" sizes="60x60">
    <link rel="apple-touch-icon" type="image/x-icon" href="https://res.cloudinary.com/dzif7dwts/image/upload/c_scale,w_72/v1781801126/LOGO_20NARANJA_20LETRA_20BLANCA_t7g7da.png" sizes="72x72">
    <link rel="apple-touch-icon" type="image/x-icon" href="https://res.cloudinary.com/dzif7dwts/image/upload/c_scale,w_76/v1781801126/LOGO_20NARANJA_20LETRA_20BLANCA_t7g7da.png" sizes="76x76">
    <link rel="apple-touch-icon" type="image/x-icon" href="https://res.cloudinary.com/dzif7dwts/image/upload/c_scale,w_114/v1781801126/LOGO_20NARANJA_20LETRA_20BLANCA_t7g7da.png" sizes="114x114">
    <link rel="apple-touch-icon" type="image/x-icon" href="https://res.cloudinary.com/dzif7dwts/image/upload/c_scale,w_120/v1781801126/LOGO_20NARANJA_20LETRA_20BLANCA_t7g7da.png" sizes="120x120">
    <link rel="apple-touch-icon" type="image/x-icon" href="https://res.cloudinary.com/dzif7dwts/image/upload/c_scale,w_144/v1781801126/LOGO_20NARANJA_20LETRA_20BLANCA_t7g7da.png" sizes="144x144">
    <link rel="apple-touch-icon" type="image/x-icon" href="https://res.cloudinary.com/dzif7dwts/image/upload/c_scale,w_152/v1781801126/LOGO_20NARANJA_20LETRA_20BLANCA_t7g7da.png" sizes="152x152">

    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dzif7dwts/image/upload/c_scale,w_196/v1781801126/LOGO_20NARANJA_20LETRA_20BLANCA_t7g7da.png" sizes="196x196">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dzif7dwts/image/upload/c_scale,w_160/v1781801126/LOGO_20NARANJA_20LETRA_20BLANCA_t7g7da.png" sizes="160x160">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dzif7dwts/image/upload/c_scale,w_96/v1781801126/LOGO_20NARANJA_20LETRA_20BLANCA_t7g7da.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dzif7dwts/image/upload/c_scale,w_32/v1781801126/LOGO_20NARANJA_20LETRA_20BLANCA_t7g7da.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dzif7dwts/image/upload/c_scale,w_16/v1781801126/LOGO_20NARANJA_20LETRA_20BLANCA_t7g7da.png" sizes="16x16">

  <meta name="msapplication-TileColor" content="#95b200">
  <meta name="theme-color" content="#ffffff">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js" integrity="sha384-vEQs6vKzb8v6+GpGDCnXUQ6aa2DYtn5LTi/tA/85iEZfXN0nAYj0shvYo8ldQQ7m" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" integrity="sha256-gQFqxr6FC3LfXU+qDDzsjiwbC6AEVxIUSmdmrfrUC+4=" crossorigin="anonymous"></script>

<meta property="fb:app_id" content="283643215104248" />

  <meta property="og:title" content="Merch" />
  <meta property="og:type" content="website" />
  
  <meta property="og:image" content="https://cdnx.jumpseller.com/cevichestudios/image/65982343/resize/1200/1200?1753965034" />

<meta property="og:description" content="En CEVICHE STUDIOS, no solo creamos contenido multimedia de primera clase, sino que también constuimos marcas sólidas, ofrecemos soluciones administrativas eficientes y brindamos asesoramiento legal intregral. Nuestra misión es convertir tus ideas en realidad y llevar tu proyecto al siguiente nivel.&nbsp;" />
<meta property="og:url" content="https://www.cevichestudios.com/merch-2" />
<meta property="og:site_name" content="CevicheStudios" />
<meta name="twitter:card" content="summary" />

<meta property="og:locale" content="es_CO" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous" ></script>
    
    <script type="application/ld+json">
[
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      
        {
        "@type": "ListItem",
        "position": 1,
        "item": {
        "name": "Inicio",
        "@id": "/"
        }
        }
        ,
      
        {
        "@type": "ListItem",
        "position": 2,
        "item": {
        "name": "Merch"
        }
        }
        
      
    ]
  },
  {
    "@context": "http://schema.org/"
    
  }]
  </script>

    <script>
  // Listener for swatch clicks when product block swatches are enabled
  function updateCarouselFromSwatch(target) {
    const value = $(target).val(); // product option value id
    const block = $(target).closest('.product-block');
    if (block.find('.product-block-carousel').length === 0) return;

    // the owl-carousel library duplicates items when it is set to loop. This code updates all the duplicates inside the nearest carousel.
    const stage = $(target).closest('.owl-carousel .owl-stage');
    const productid = block.attr('data-productid');
    const blocks = stage.length === 0 ? block : stage.find(`.product-block[data-productid="${productid}"]`);

    // When we click on the same swatch option, do nothing.
    // When there is no variant image, show the fallback product image.
    // Use bootstrap carousel or fallback to just setting active class and toggle with css
    blocks.each(function () {
      const carousel = $(this).find('.product-block-carousel');
      const variant = carousel.find(`[data-color-option-value="${value}"]`);
      const fallback = carousel.find('.carousel-default-item');
      const item = variant.length === 0 ? fallback : variant;

      if (carousel.carousel) {
        carousel.carousel(item.first().index());
      } else {
        carousel.find('.active').removeClass('active');
        item.first().addClass('active');
      }
    });
  }

</script>
    
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="dlGng6xE4IhK-MExJ9iGrGzdR9lFi8R8Kg9zPiOg-mgTcOWoHk2H_XRgLFvlTBUtWGhnF9HreQUqWym7UpL44w" />
<script src="https://files.jumpseller.com/javascripts/dist/jumpseller-2.0.0.js" defer="defer"></script></head>

  <body >
    <div id="top_components"><div id="component-1867745" class="theme-component show"><div class="topbar hidden-md hidden-sm hidden-xs">
  <div class="container">
    
    <div class="right-topbar">
      <ul class="list-inline">
        
        
      </ul>
    </div>
    </div>
</div>

<hr class="gray-line">

<header class="sticky">
  <div class="container">
    <a href="index.html" class="logo">
      
      <img src="https://res.cloudinary.com/dzif7dwts/image/upload/v1781801126/LOGO_20NARANJA_20LETRA_20BLANCA_t7g7da.png" alt="CevicheStudios"/>
      
    </a>
    <div class="top-cart">
      <a id="cart-link" href="cart.html">
        <i class="pe-7s-cart"></i>
        <span class="cart-size">0</span>
      </a>
    </div>
    
    <nav class="main-nav hidden-md hidden-sm hidden-xs">
      <div class="minimal-menu">
        <ul class="menu">
          
          <li class="">
            <a href="index.html" title="Cevichestudios" class="">Cevichestudios</a>
          </li>

          <li class="">
            <a href="{% url 'public_events' %}" title="Eventos" class="">Eventos</a>
          </li>

          <li class="">
            <a href="vuelos-dron.html" title="Vuelos de Dron" class="">Vuelos de Dron</a>
          </li>

          <li class="current-menu-item">
            <a href="merch-2.html" title="Merch" class="current-menu-item">Merch</a>
          </li>

          <li class="">
            <a href="trabaja-con-nosotros.html" title="Trabaja con Nosotros" class="">Trabaja con Nosotros</a>
          </li>

          <li class="">
            <a href="contact.html" title="Contacto" class="">Contacto</a>
          </li>

          <li class="hidden-xs hidden-sm">
            <div class="wrap-search jumpseller-autocomplete" data-panel="popover popover-autocomplete">
              <form method="get" action="https://www.cevichestudios.com/search" class="search-form">
                <input type="text" placeholder="Buscar..." name="q" value=""/>
                <button type="submit"><i class="pe-7s-search"></i></button>
              </form>
            </div>
            </li>

        <div class="mn-wrap col-xs-12 hidden-lg jumpseller-autocomplete">
          <form method="get" class="form" action="https://www.cevichestudios.com/search">
            <div class="search-wrap form-group">
              <input type="text" class="form-control search-field" value="" name="q" placeholder="Buscar...">
            </div>
            <button class="search-button animate btn btn-default btn-block" type="submit" title="Iniciar busqueda">
              Iniciar busqueda
            </button>
          </form>
        </div>
        </div>
      </nav>
    <div class="mobilenav visible-xs-block visible-sm-block visible-md-block hidden-lg trsn">
  <div class="menu-header">
    <div class="item item-1 trsn">
      <i class="fas fa-search"></i>
      <div class="jumpseller-autocomplete" data-panel="popover popover-autocomplete-mobile">
      <form
        id="search_mini_form_mobile"
        class="navbar-form form-inline hidden-lg-up trsn"
        method="get"
        action="https://www.cevichestudios.com/search"
      >
        <input
          type="text"
          value=""
          name="q"
          class="form-text"
          onFocus="javascript:this.value=''"
          placeholder="Buscar productos"
        >
      </form>
      </div>
    </div>
    
    <div class="nav-icon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="menu-top"></div>
  <div class="mobilenav-inner">
    <ul class="menu-mobile trsn">
      
        <li class="">
          <a href="index.html" title="Cevichestudios">Cevichestudios</a>
        </li>

        <li class="">
          <a href="{% url 'public_events' %}" title="Eventos">Eventos</a>
        </li>

        <li class="">
          <a href="vuelos-dron.html" title="Vuelos de Dron">Vuelos de Dron</a>
        </li>

        <li class="">
          <a href="merch-2.html" title="Merch">Merch</a>
        </li>

        <li class="">
          <a href="trabaja-con-nosotros.html" title="Trabaja con Nosotros">Trabaja con Nosotros</a>
        </li>

        <li class="">
          <a href="contact.html" title="Contacto">Contacto</a>
        </li>

      <li></li>
      <li></li>
      
        <li class="social-item">
          <a href="https://www.facebook.com/61560935367279" class="trsn" title="Ir a Facebook" target="_blank">
            <i class="fab fa-facebook-f fa-fw"></i>Facebook
          </a>
        </li>
      
        <li class="social-item">
          <a href="https://www.instagram.com/cevichestudios" class="trsn" title="Ir a Instagram" target="_blank">
            <i class="fab fa-instagram fa-fw"></i>Instagram
          </a>
        </li>
      
        <li class="social-item">
          <a
            href="https://api.whatsapp.com/send?phone=573223001638&amp;text=Hola%20CevicheStudios"
            class="trsn"
            title="WhatsApp"
            target="_blank"
          >
            <i class="fab fa-whatsapp fa-fw"></i>WhatsApp
          </a>
        </li>
      
        <li class="social-item">
          <a href="https://youtube.com/https://www.youtube.com/@Ceviche.Studios" class="trsn" title="Youtube" target="_blank">
            <i class="fab fa-youtube"></i> Youtube
          </a>
        </li>
    </ul>
  </div>
</div>
<div class="nav-bg-opacity"></div>

    </div>
</header>

<style>
header, 
.minimal-menu ul ul, 
.minimal-menu ul .menu-wrapper, 
.mobilenav .menu-header, 
.mobilenav-inner,
.mobilenav .menu-mobile li.has-dropdown .dropdown,
.mobilenav .menu-mobile li.has-dropdown ul.dropdown a.top-category {
  background-color: #000000;
}
header a.logo,
header .main-nav a, header .top-cart a, 
header .wrap-search .search-form button[type="submit"], 
.minimal-menu ul li.submenu>a:after, 
.minimal-menu ul li a,
.mobilenav .menu-header .item-2 span, 
.mobilenav .menu-header .item-3 span,
.mobilenav i,
.mobilenav .menu-mobile li a,
.mobilenav .lang-menu a,
#search_mini_form_mobile input,
.aa-ItemLink > span {
  color: #FBFBFB!important;
}
header .main-nav .current-menu-item > a,
header .main-nav .minimal-menu > ul > li > a:hover,
header .main-nav .minimal-menu > ul > li > a:focus,
header .main-nav .minimal-menu > ul .megamenu .menu-wrapper > div ul li a:hover,
header .main-nav .minimal-menu > ul .megamenu .menu-wrapper > div ul li a:focus,
header .main-nav a:hover,
header .main-nav a:focus {
  color: color-mix(in srgb, #000000 30%, #f1f1f1) !important;
}
header .main-nav .minimal-menu > ul > li:not(.submenu) > a:before, .nav-icon span {
  background: color-mix(in srgb, #000000 30%, #f1f1f1) !important;
}

.mobilenav .menu-header .item.active, .mobilenav .lang-menu, #search_mini_form_mobile, .popover-autocomplete-mobile {
  background: color-mix(in srgb, #000000 80%, #f1f1f1) !important;
}
.mobilenav .menu-mobile li a, .mobilenav .menu-header .item {
  border-color: color-mix(in srgb, #000000 80%, #f1f1f1) !important;
}
.mobilenav .lang-menu a, #search_mini_form_mobile input {
  border-color: color-mix(in srgb, #000000 70%, #f1f1f1) !important;
}

.topbar, .topbar .dropdown-menu {
  background-color: #000000;
}
.topbar .right-topbar, .topbar .left-topbar a, .topbar .right-topbar a, .topbar .dropdown-toggle:focus {
  color: #FBFBFB;
}
.topbar .left-topbar a:hover, .topbar .dropdown-toggle:hover, .topbar .right-topbar a:hover, .topbar .dropdown-toggle:focus {
  color: color-mix(in srgb, #000000 30%, #f1f1f1) !important;
}
.topbar .left-topbar a:before, .dropdown-toggle:before {
  background: color-mix(in srgb, #000000 30%, #f1f1f1) !important;
}
</style></div></div>

<div id="components"><div id="component-20819884" class="theme-component show"><div id="big-banner-20819884" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 no-pd">
      
      <img src="https://assets.jumpseller.com/store/cevichestudios/themes/638214/settings/61095ed6e8cfc7ffa724/BANNER-MERCH.jpg?1754061733" class="img-responsive center-block w-100" alt="CevicheStudios"/>
      
    </div>
  </div>
</div>
</div></div>


<div class="main">
    <div class="container">
        <div class="header-page">
            
                <h2 class="category-description"></h2>

        </div>
        <div class="row">
            
                
                    <div class="showing-results-mobile col-xs-6 hidden-lg hidden-md">
                        
                        MUESTRA
                        1-
                        
                            10
                        
                        DE
                        10
                        RESULTADOS
                    </div>
                    <div class="col-xs-6 hidden-lg hidden-md">
                        <button class="white-btn btn btn-block" id="show_filters" type="button">
                            <i class="fas fa-sliders-h"></i>
                            Filtros
                            
                        </button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-3">
                        <div class="sidebar">
                            <aside class="widget">
                                <form id="filters" method="get" action="https://www.cevichestudios.com/merch-2">
  <input type="hidden" name="q" value="">

  <div id="side_filters">
      
    <h4 class="widget-title">Filtrar por</h4>

    <div id="price_filter" class="filter_wrapper mb-3" data-url="price">
      <h5>Precio</h5>
      <div class="row align-items-center">
        <div class="col-xs-6">
          <label class="mb-0" for="min">Desde</label>
        </div>
        <div class="col-xs-6">
          <label class="mb-0" for="max">Hasta</label>
        </div>
        <div class="col-xs-6">
          <input id="min" placeholder="$0,00" class="form-control text" name="min" type="number" min="0">
        </div>
        <div class="col-xs-6">
          <input id="max" placeholder="$0,00" class="form-control text" name="max" type="number" min="0">
        </div>
      </div>
      <div class="button-field">
        <small class='price_message alert alert-warning'>El precio máximo no puede ser inferior al precio mínimo.</small>
        <button class="button pink-btn" type="submit"><i class="fas fa-arrow-right"></i></button>
      </div>
    </div>
    
  </div>
</form>

<script>
  $(document).ready(function(){
    $("#side_filters a.category_menu_trigger_child i" ).click(function(event){event.preventDefault();});

    $(".category_menu_trigger_child i" ).click(function() {
      $(this).parent().next('ul').slideToggle();
      $(this).parent().toggleClass('active');
    });

    var url = new URL(location.html);
    $("#min").val(url.searchParams.get("min"));
    $("#max").val(url.searchParams.get("max"));

    $( "#show_filters" ).click(function() {
      $( "#side_filters" ).slideToggle( "slow", function() {
      });
    });

    var filterQty = $('.side_filters_selected .badge-secondary').length
    $('#show_filters .badge-light').text(filterQty);

    // Show message for prices
    function handleError(){
      $('#price_filter .button').attr('disabled',true)
      $('#price_filter .price_message').css('display','block')
    }
    function handleSuccess(){
      $('#price_filter .button').attr('disabled',false)
      $('#price_filter .price_message').css('display','none')
    }
    $('#min').on('blur', function() {
      var minValue = parseInt($('#min').val());
      var maxValue = parseInt($('#max').val());
      if(minValue > maxValue){
        handleError()
      } else {
        handleSuccess()
      }
    });
    $('#max').on('blur', function() {
      var minValue = parseInt($('#min').val());
      var maxValue = parseInt($('#max').val());
      if(minValue > maxValue){
        handleError()
      } else {
        handleSuccess()
      }
    });
  });
</script>

                            </aside>
                        </div>
                        </div>
                    <div class="col-md-9">

                        <div class="main-content">
                            <div class="top-products row ">
                                <div class="showing-results col-md-9">
                                    
                                    MUESTRA
                                    1-
                                    
                                        10
                                    
                                    DE
                                    10
                                    RESULTADOS
                                </div>
                                <div class="col-md-3">
                                    <div class="sortby">
                                        <select class="custom-select">
                                            
                                                <option  selected="selected"  value="https://www.cevichestudios.com/merch-2?sorting=position-asc#category-gallery">Posición</option>
                                                {"text"=>"Posición", "url"=>"https://www.cevichestudios.com/merch-2?sorting=position-asc", "selected"=>true, "code"=>"position-asc"}
                                            
                                                <option  value="https://www.cevichestudios.com/merch-2?sorting=name-asc#category-gallery">Nombre: A a Z</option>
                                                {"text"=>"Nombre: A a Z", "url"=>"https://www.cevichestudios.com/merch-2?sorting=name-asc", "selected"=>false, "code"=>"name-asc"}
                                            
                                                <option  value="https://www.cevichestudios.com/merch-2?sorting=name-desc#category-gallery">Nombre: Z a A</option>
                                                {"text"=>"Nombre: Z a A", "url"=>"https://www.cevichestudios.com/merch-2?sorting=name-desc", "selected"=>false, "code"=>"name-desc"}
                                            
                                                <option  value="https://www.cevichestudios.com/merch-2?sorting=price-asc#category-gallery">Precio: de menor a mayor</option>
                                                {"text"=>"Precio: de menor a mayor", "url"=>"https://www.cevichestudios.com/merch-2?sorting=price-asc", "selected"=>false, "code"=>"price-asc"}
                                            
                                                <option  value="https://www.cevichestudios.com/merch-2?sorting=price-desc#category-gallery">Precio: de mayor a menor</option>
                                                {"text"=>"Precio: de mayor a menor", "url"=>"https://www.cevichestudios.com/merch-2?sorting=price-desc", "selected"=>false, "code"=>"price-desc"}
                                            
                                                <option  value="https://www.cevichestudios.com/merch-2?sorting=date-desc#category-gallery">Fecha: Lo más reciente primero</option>
                                                {"text"=>"Fecha: Lo más reciente primero", "url"=>"https://www.cevichestudios.com/merch-2?sorting=date-desc", "selected"=>false, "code"=>"date-desc"}
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="box-product row">
                                
                                    <div class="col-md-4 col-xs-6">
                                        

<div class="product-item product-block" data-productid="30666193">
  <div class="product-thumb">
    
      <span class="out-stock">Agotado</span>
    
    <div class="main-img">
      <a href="buzo.html">
      
        <div class="carousel slide product-block-carousel" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="item img-responsive carousel-default-item active">
              <img
                src="https://cdnx.jumpseller.com/cevichestudios/image/66089310/thumb/270/360?1754065392"
                srcset="https://cdnx.jumpseller.com/cevichestudios/image/66089310/thumb/270/360?1754065392 1x, https://cdnx.jumpseller.com/cevichestudios/image/66089310/thumb/540/720?1754065392 2x"
                title="Buzo"
                alt="Buzo"
                width="270" height="360"
              />
            </div>
            
              
          </div>
        </div>
      
      </a>
    </div>
    
    
  </div>
  <h4 class="product-name">
    <a href="buzo.html">Buzo</a>
    
  </h4>

  
  
    <div class="product-price price_color">
      <span class="final_price">$0,00</span>
    </div>
  
  
  
  <div class="color-swatch">
    
    <fieldset class="field-group colors prod-list-color product-block__colors">
      
      <div class="color-option">
        <input type="radio" name="c1ed11cee58d4cf9" value="5630377" id="b2fb268af469c3e2" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Negro" for="b2fb268af469c3e2" style="background-color: #000000"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="c1ed11cee58d4cf9" value="5630378" id="eed1f53ca49c983a" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Naranja" for="eed1f53ca49c983a" style="background-color: #f68a03"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="c1ed11cee58d4cf9" value="5630379" id="b7a16d45393a5578" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Blanco" for="b7a16d45393a5578" style="background-color: #fcfaf7"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="c1ed11cee58d4cf9" value="5630380" id="a74d9a4917da168a" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Azul" for="a74d9a4917da168a" style="background-color: #0000ff"></label>
      </div>
      
      
    </fieldset>
  </div>
  
</div>

                                    </div>
                                
                                    <div class="col-md-4 col-xs-6">
                                        

<div class="product-item product-block" data-productid="30696464">
  <div class="product-thumb">
    
    <div class="main-img">
      <a href="buzo-basico.html">
      
        <div class="carousel slide product-block-carousel" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="item img-responsive carousel-default-item active">
              <img
                src="https://cdnx.jumpseller.com/cevichestudios/image/66089264/thumb/270/360?1754065312"
                srcset="https://cdnx.jumpseller.com/cevichestudios/image/66089264/thumb/270/360?1754065312 1x, https://cdnx.jumpseller.com/cevichestudios/image/66089264/thumb/540/720?1754065312 2x"
                title="Buzo Básico "
                alt="Buzo Básico "
                width="270" height="360"
              />
            </div>
            
              
          </div>
        </div>
      
      </a>
    </div>
    
    
  </div>
  <h4 class="product-name">
    <a href="buzo-basico.html">Buzo Básico </a>
    
  </h4>

  
  
    <div class="product-price price_color">
      <span class="final_price">$0,00</span>
    </div>
  
  
  
  <div class="color-swatch">
    
    <fieldset class="field-group colors prod-list-color product-block__colors">
      
      <div class="color-option">
        <input type="radio" name="f32a715dd2209a0f" value="5630377" id="db6b8a682d3e60c6" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Negro" for="db6b8a682d3e60c6" style="background-color: #000000"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="f32a715dd2209a0f" value="5630378" id="d49d35f8716d626d" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Naranja" for="d49d35f8716d626d" style="background-color: #f68a03"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="f32a715dd2209a0f" value="5630379" id="a1cd5811c30342d8" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Blanco" for="a1cd5811c30342d8" style="background-color: #fcfaf7"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="f32a715dd2209a0f" value="5630380" id="f060089eae8b7665" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Azul" for="f060089eae8b7665" style="background-color: #0000ff"></label>
      </div>
      
      
    </fieldset>
  </div>
  
</div>

                                    </div>
                                
                                    <div class="col-md-4 col-xs-6">
                                        

<div class="product-item product-block" data-productid="30696470">
  <div class="product-thumb">
    
    <div class="main-img">
      <a href="buzo-tipo-hoodie.html">
      
        <div class="carousel slide product-block-carousel" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="item img-responsive carousel-default-item active">
              <img
                src="https://cdnx.jumpseller.com/cevichestudios/image/66089358/thumb/270/360?1754065471"
                srcset="https://cdnx.jumpseller.com/cevichestudios/image/66089358/thumb/270/360?1754065471 1x, https://cdnx.jumpseller.com/cevichestudios/image/66089358/thumb/540/720?1754065471 2x"
                title="Buzo tipo Hoodie"
                alt="Buzo tipo Hoodie"
                width="270" height="360"
              />
            </div>
            
              
          </div>
        </div>
      
      </a>
    </div>
    
    
  </div>
  <h4 class="product-name">
    <a href="buzo-tipo-hoodie.html">Buzo tipo Hoodie</a>
    
  </h4>

  
  
    <div class="product-price price_color">
      <span class="final_price">$0,00</span>
    </div>
  
  
  
  <div class="color-swatch">
    
    <fieldset class="field-group colors prod-list-color product-block__colors">
      
      <div class="color-option">
        <input type="radio" name="dd37073b15e2d9c8" value="5630377" id="d3e53fc31de9faef" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Negro" for="d3e53fc31de9faef" style="background-color: #000000"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="dd37073b15e2d9c8" value="5630378" id="f192822139961e5a" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Naranja" for="f192822139961e5a" style="background-color: #f68a03"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="dd37073b15e2d9c8" value="5630379" id="d79d98b5302f3517" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Blanco" for="d79d98b5302f3517" style="background-color: #fcfaf7"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="dd37073b15e2d9c8" value="5630380" id="c900cbab389a8313" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Azul" for="c900cbab389a8313" style="background-color: #0000ff"></label>
      </div>
      
      
    </fieldset>
  </div>
  
</div>

                                    </div>
                                
                                    <div class="col-md-4 col-xs-6">
                                        

<div class="product-item product-block" data-productid="30696474">
  <div class="product-thumb">
    
    <div class="main-img">
      <a href="chaqueta-rompevientos.html">
      
        <div class="carousel slide product-block-carousel" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="item img-responsive carousel-default-item active">
              <img
                src="https://cdnx.jumpseller.com/cevichestudios/image/66089548/thumb/270/360?1754065953"
                srcset="https://cdnx.jumpseller.com/cevichestudios/image/66089548/thumb/270/360?1754065953 1x, https://cdnx.jumpseller.com/cevichestudios/image/66089548/thumb/540/720?1754065953 2x"
                title="Chaqueta Rompevientos"
                alt="Chaqueta Rompevientos"
                width="270" height="360"
              />
            </div>
            
              
          </div>
        </div>
      
      </a>
    </div>
    
    
  </div>
  <h4 class="product-name">
    <a href="chaqueta-rompevientos.html">Chaqueta Rompevientos</a>
    
  </h4>

  
  
    <div class="product-price price_color">
      <span class="final_price">$0,00</span>
    </div>
  
  
  
  <div class="color-swatch">
    
    <fieldset class="field-group colors prod-list-color product-block__colors">
      
      <div class="color-option">
        <input type="radio" name="ba1b3e8732ea59f9" value="5630377" id="b02db244796e49f9" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Negro" for="b02db244796e49f9" style="background-color: #000000"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="ba1b3e8732ea59f9" value="5630378" id="ef1d19e8cc5c3de6" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Naranja" for="ef1d19e8cc5c3de6" style="background-color: #f68a03"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="ba1b3e8732ea59f9" value="5630379" id="aa047b3f37be0982" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Blanco" for="aa047b3f37be0982" style="background-color: #fcfaf7"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="ba1b3e8732ea59f9" value="5630380" id="cc1d1dcc94da4300" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Azul" for="cc1d1dcc94da4300" style="background-color: #0000ff"></label>
      </div>
      
      
    </fieldset>
  </div>
  
</div>

                                    </div>
                                
                                    <div class="col-md-4 col-xs-6">
                                        

<div class="product-item product-block" data-productid="30696481">
  <div class="product-thumb">
    
    <div class="main-img">
      <a href="camiseta-basica.html">
      
        <div class="carousel slide product-block-carousel" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="item img-responsive carousel-default-item active">
              <img
                src="https://cdnx.jumpseller.com/cevichestudios/image/66089619/thumb/270/360?1754066032"
                srcset="https://cdnx.jumpseller.com/cevichestudios/image/66089619/thumb/270/360?1754066032 1x, https://cdnx.jumpseller.com/cevichestudios/image/66089619/thumb/540/720?1754066032 2x"
                title="Camiseta Básica "
                alt="Camiseta Básica "
                width="270" height="360"
              />
            </div>
            
              
          </div>
        </div>
      
      </a>
    </div>
    
    
  </div>
  <h4 class="product-name">
    <a href="camiseta-basica.html">Camiseta Básica </a>
    
  </h4>

  
  
    <div class="product-price price_color">
      <span class="final_price">$0,00</span>
    </div>
  
  
  
  <div class="color-swatch">
    
    <fieldset class="field-group colors prod-list-color product-block__colors">
      
      <div class="color-option">
        <input type="radio" name="f6c3c0ed04d94396" value="5630377" id="ef5093dbe1103d40" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Negro" for="ef5093dbe1103d40" style="background-color: #000000"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="f6c3c0ed04d94396" value="5630378" id="cb0334dc2808df8a" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Naranja" for="cb0334dc2808df8a" style="background-color: #f68a03"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="f6c3c0ed04d94396" value="5630379" id="f2a7a293702bb78b" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Blanco" for="f2a7a293702bb78b" style="background-color: #fcfaf7"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="f6c3c0ed04d94396" value="5630380" id="cefce5d42ecf7ce2" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Azul" for="cefce5d42ecf7ce2" style="background-color: #0000ff"></label>
      </div>
      
      
    </fieldset>
  </div>
  
</div>

                                    </div>
                                
                                    <div class="col-md-4 col-xs-6">
                                        

<div class="product-item product-block" data-productid="30696486">
  <div class="product-thumb">
    
    <div class="main-img">
      <a href="camiseta-oversize.html">
      
        <div class="carousel slide product-block-carousel" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="item img-responsive carousel-default-item active">
              <img
                src="https://cdnx.jumpseller.com/cevichestudios/image/66089658/thumb/270/360?1754066094"
                srcset="https://cdnx.jumpseller.com/cevichestudios/image/66089658/thumb/270/360?1754066094 1x, https://cdnx.jumpseller.com/cevichestudios/image/66089658/thumb/540/720?1754066094 2x"
                title="Camiseta Oversize"
                alt="Camiseta Oversize"
                width="270" height="360"
              />
            </div>
            
              
          </div>
        </div>
      
      </a>
    </div>
    
    
  </div>
  <h4 class="product-name">
    <a href="camiseta-oversize.html">Camiseta Oversize</a>
    
  </h4>

  
  
    <div class="product-price price_color">
      <span class="final_price">$0,00</span>
    </div>
  
  
  
  <div class="color-swatch">
    
    <fieldset class="field-group colors prod-list-color product-block__colors">
      
      <div class="color-option">
        <input type="radio" name="aef2d4c262f88455" value="5630377" id="f212f2394f7e74e4" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Negro" for="f212f2394f7e74e4" style="background-color: #000000"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="aef2d4c262f88455" value="5630378" id="bdcf9d37efacdc17" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Naranja" for="bdcf9d37efacdc17" style="background-color: #f68a03"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="aef2d4c262f88455" value="5630379" id="faaa2b0fb5633f69" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Blanco" for="faaa2b0fb5633f69" style="background-color: #fcfaf7"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="aef2d4c262f88455" value="5630380" id="d92a877708086681" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Azul" for="d92a877708086681" style="background-color: #0000ff"></label>
      </div>
      
      
    </fieldset>
  </div>
  
</div>

                                    </div>
                                
                                    <div class="col-md-4 col-xs-6">
                                        

<div class="product-item product-block" data-productid="30696489">
  <div class="product-thumb">
    
    <div class="main-img">
      <a href="camiseta-polo.html">
      
        <div class="carousel slide product-block-carousel" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="item img-responsive carousel-default-item active">
              <img
                src="https://cdnx.jumpseller.com/cevichestudios/image/66089677/thumb/270/360?1754066159"
                srcset="https://cdnx.jumpseller.com/cevichestudios/image/66089677/thumb/270/360?1754066159 1x, https://cdnx.jumpseller.com/cevichestudios/image/66089677/thumb/540/720?1754066159 2x"
                title="Camiseta Polo"
                alt="Camiseta Polo"
                width="270" height="360"
              />
            </div>
            
              
          </div>
        </div>
      
      </a>
    </div>
    
    
  </div>
  <h4 class="product-name">
    <a href="camiseta-polo.html">Camiseta Polo</a>
    
  </h4>

  
  
    <div class="product-price price_color">
      <span class="final_price">$0,00</span>
    </div>
  
  
  
  <div class="color-swatch">
    
    <fieldset class="field-group colors prod-list-color product-block__colors">
      
      <div class="color-option">
        <input type="radio" name="cc69a00089a2956d" value="5630377" id="b4054c70176de21f" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Negro" for="b4054c70176de21f" style="background-color: #000000"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="cc69a00089a2956d" value="5630378" id="bc2d0fb554705eb0" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Naranja" for="bc2d0fb554705eb0" style="background-color: #f68a03"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="cc69a00089a2956d" value="5630379" id="aae13c878ddf7042" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Blanco" for="aae13c878ddf7042" style="background-color: #fcfaf7"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="cc69a00089a2956d" value="5630380" id="b691563dafc01b2e" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Azul" for="b691563dafc01b2e" style="background-color: #0000ff"></label>
      </div>
      
      
    </fieldset>
  </div>
  
</div>

                                    </div>
                                
                                    <div class="col-md-4 col-xs-6">
                                        

<div class="product-item product-block" data-productid="30696501">
  <div class="product-thumb">
    
    <div class="main-img">
      <a href="gorra-tipo-flex.html">
      
        <div class="carousel slide product-block-carousel" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="item img-responsive carousel-default-item active">
              <img
                src="https://cdnx.jumpseller.com/cevichestudios/image/66226183/thumb/270/360?1754453576"
                srcset="https://cdnx.jumpseller.com/cevichestudios/image/66226183/thumb/270/360?1754453576 1x, https://cdnx.jumpseller.com/cevichestudios/image/66226183/thumb/540/720?1754453576 2x"
                title="Gorra Tipo Flex"
                alt="Gorra Tipo Flex"
                width="270" height="360"
              />
            </div>
            
              
          </div>
        </div>
      
      </a>
    </div>
    
    
  </div>
  <h4 class="product-name">
    <a href="gorra-tipo-flex.html">Gorra Tipo Flex</a>
    
  </h4>

  
  
    <div class="product-price price_color">
      <span class="final_price">$0,00</span>
    </div>
  
  
  
  <div class="color-swatch">
    
    <fieldset class="field-group colors prod-list-color product-block__colors">
      
      <div class="color-option">
        <input type="radio" name="b435a911af11a13b" value="5630377" id="ca50a9ec1beb9334" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Negro" for="ca50a9ec1beb9334" style="background-color: #000000"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="b435a911af11a13b" value="5630378" id="fbc6bde106be6394" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Naranja" for="fbc6bde106be6394" style="background-color: #f68a03"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="b435a911af11a13b" value="5630379" id="c6e31e684e766f25" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Blanco" for="c6e31e684e766f25" style="background-color: #fcfaf7"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="b435a911af11a13b" value="5630380" id="cab9231902e99d6d" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Azul" for="cab9231902e99d6d" style="background-color: #0000ff"></label>
      </div>
      
      
    </fieldset>
  </div>
  
</div>

                                    </div>
                                
                                    <div class="col-md-4 col-xs-6">
                                        

<div class="product-item product-block" data-productid="30696511">
  <div class="product-thumb">
    
    <div class="main-img">
      <a href="tulas-tote-bag.html">
      
        <div class="carousel slide product-block-carousel" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="item img-responsive carousel-default-item active">
              <img
                src="https://cdnx.jumpseller.com/cevichestudios/image/66226185/thumb/270/360?1754452688"
                srcset="https://cdnx.jumpseller.com/cevichestudios/image/66226185/thumb/270/360?1754452688 1x, https://cdnx.jumpseller.com/cevichestudios/image/66226185/thumb/540/720?1754452688 2x"
                title="Tulas - Tote Bag"
                alt="Tulas - Tote Bag"
                width="270" height="360"
              />
            </div>
            
              
          </div>
        </div>
      
      </a>
    </div>
    
    
  </div>
  <h4 class="product-name">
    <a href="tulas-tote-bag.html">Tulas - Tote Bag</a>
    
  </h4>

  
  
    <div class="product-price price_color">
      <span class="final_price">$0,00</span>
    </div>
  
  
  
  <div class="color-swatch">
    
    <fieldset class="field-group colors prod-list-color product-block__colors">
      
      <div class="color-option">
        <input type="radio" name="e1a61e9947faeba0" value="5630377" id="c3ad325f5b0e2eef" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Negro" for="c3ad325f5b0e2eef" style="background-color: #000000"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="e1a61e9947faeba0" value="5630378" id="f0c19c2254749238" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Naranja" for="f0c19c2254749238" style="background-color: #f68a03"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="e1a61e9947faeba0" value="5630379" id="d41165f3d2208312" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Blanco" for="d41165f3d2208312" style="background-color: #fcfaf7"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="e1a61e9947faeba0" value="5630380" id="d18b74d6bdcd13b2" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Azul" for="d18b74d6bdcd13b2" style="background-color: #0000ff"></label>
      </div>
      
      
    </fieldset>
  </div>
  
</div>

                                    </div>
                                
                                    <div class="col-md-4 col-xs-6">
                                        

<div class="product-item product-block" data-productid="30696580">
  <div class="product-thumb">
    
    <div class="main-img">
      <a href="mugs-botilos.html">
      
        <div class="carousel slide product-block-carousel" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="item img-responsive carousel-default-item active">
              <img
                src="https://cdnx.jumpseller.com/cevichestudios/image/66236131/thumb/270/360?1754501518"
                srcset="https://cdnx.jumpseller.com/cevichestudios/image/66236131/thumb/270/360?1754501518 1x, https://cdnx.jumpseller.com/cevichestudios/image/66236131/thumb/540/720?1754501518 2x"
                title="Mugs - Botilos"
                alt="Mugs - Botilos"
                width="270" height="360"
              />
            </div>
            
              
          </div>
        </div>
      
      </a>
    </div>
    
    
  </div>
  <h4 class="product-name">
    <a href="mugs-botilos.html">Mugs - Botilos</a>
    
  </h4>

  
  
    <div class="product-price price_color">
      <span class="final_price">$0,00</span>
    </div>
  
  
  
  <div class="color-swatch">
    
    <fieldset class="field-group colors prod-list-color product-block__colors">
      
      <div class="color-option">
        <input type="radio" name="c35d3e395f3c5281" value="5630377" id="a6bc96b75fa27a48" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Negro" for="a6bc96b75fa27a48" style="background-color: #000000"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="c35d3e395f3c5281" value="5630378" id="dbf56cd574fa0c5f" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Naranja" for="dbf56cd574fa0c5f" style="background-color: #f68a03"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="c35d3e395f3c5281" value="5630379" id="a9e4685e3bd625dc" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Blanco" for="a9e4685e3bd625dc" style="background-color: #fcfaf7"></label>
      </div>
      
      <div class="color-option">
        <input type="radio" name="c35d3e395f3c5281" value="5630380" id="cc220b6139c710ee" onclick="updateCarouselFromSwatch(this); return false" />
        <label title="Azul" for="cc220b6139c710ee" style="background-color: #0000ff"></label>
      </div>
      
      
    </fieldset>
  </div>
  
</div>

                                    </div>
                                
                                
                            </div>
                            </div>
                    
                
                </div>
        </div>
    </div>
</div>


<div id="bottom_components"><div id="component-1867743" class="theme-component show"><footer>
  <div class="container">
    <div class="row d-flex justify-content-center flex-wrap">
      
      <div class="col-xs-12 col-sm-4 mgb-30 address-info">
        <h3>LOCALIZACIÓN</h3>
        
        
        
        
        <ul class="list-social">
          <li><a class="facebook" href="https://www.facebook.com/61560935367279"><i class="fab fa-facebook"></i></a></li>
          
          
          <li><a class="instagram" href="https://www.instagram.com/cevichestudios"><i class="fab fa-instagram"></i></a></li>
          <li><a class="whatsapp" href="https://api.whatsapp.com/send?phone=573223001638&amp;text=Hola%20CevicheStudios!"><i class="fab fa-whatsapp"></i></a></li>
          <li><a class="youtube" href="https://youtube.com/https://www.youtube.com/@Ceviche.Studios"><i class="fab fa-youtube"></i></a></li>
          
        </ul>
        
        </div>
      

      
      <div class="col-xs-12 col-sm-4 mgb-30">
        <h3>SERVICIO AL CLIENTE</h3>
        <ul class="list-link">
          
            <li>
   <a href="contact.html" title="Contacto">Contacto</a>
</li>

          
        </ul>
      </div>
      

      
    </div>

  </div>
</footer>

<div class="bottom-footer">
  <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="copyright">
           © 2026 CevicheStudios. Todos los derechos reservados. <a href='https://jumpseller.co/?utm_medium=store&amp;utm_campaign=powered_by&amp;utm_source=cevichestudios' title='Crear tienda en línea' target='_blank' rel='nofollow'>Desarrollado por Jumpseller</a>.
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <ul class="payment">
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  
  
</ul>

       </div>
      </div>
  </div>
</div>

<style>
footer {
  background-color: #000000;
}
footer, footer h3, footer .list-link li a, .list-social li a {
  color: #FBFBFB;
}
footer h3 {
  border-color: color-mix(in srgb, #000000 80%, #FBFBFB);
}
.bottom-footer {
  background-color: #25282C;
}
.bottom-footer, .bottom-footer a {
  color: #FBFBFB;
}
.bottom-footer a:hover {
  color: color-mix(in srgb, #25282C 50%, #FBFBFB);
}
footer a:hover, footer a:focus {
  color: color-mix(in srgb, #000000 30%, #f1f1f1) !important;
}
footer .list-link li a:before {
  background: color-mix(in srgb, #000000 30%, #f1f1f1) !important;
}
</style>
</div></div>


    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.filestyle/1.1.0/js/bootstrap-filestyle.min.js" integrity="sha256-iKHE0eu0gUetTeiNYPYcZB+Ho39/1MYph+rhPazLhGQ=" crossorigin="anonymous"></script>
    <script src="https://assets.jumpseller.com/public/jquery-fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js" integrity="sha256-gHTUe1/J6b3LllbU93W5zoOe/ZBgw2QO1DS/ofiLqU0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js" integrity="sha256-dzHVd8XfpfOOm/gt7a5RF0yd3U09RmjuqdHlHWzhPWY=" crossorigin="anonymous"></script>
    <script src="https://assets.jumpseller.com/public/themes/influence/owl.carousel.min.js"></script>
    <script src="https://assets.jumpseller.com/public/responsive-accordion/1.3.0/responsive-accordion.min.js"></script>
    <script src="https://assets.jumpseller.com/public/easy-responsive-tabs/0.1.0/easy-responsive-tabs.min.js"></script>
    <script src="https://assets.jumpseller.com/store/cevichestudios/themes/638214/theme.min.js?1758591088"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js" integrity="sha384-EeOf8v/Jh3rqjCmTJTb0iX4HBUzuIgi++DUOReOvjDdonsZreW3JKI9wrrycC9Ub" crossorigin="anonymous" ></script>
    <script src="https://assets.jumpseller.com/store/cevichestudios/themes/638214/functions.min.js?1758591088"></script>

    
    <script src="https://assets.jumpseller.com/store/cevichestudios/themes/638214/custom.min.js?1758591088"></script>
    

    
    <a href="https://api.whatsapp.com/send?phone=573223001638" class="store-whatsapp" title="Envíanos un mensaje de WhatsApp" target="_blank"><i class="fab fa-whatsapp fa-fw"></i></a>
    

    
  </body>

</html>